---
import PostItem from "../../components/PostItem.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { categoryText } from "../../utils/category";
import { getAllPosts } from "../../utils/getPost";

export async function getStaticPaths() {
	const allPosts = await getAllPosts();
	const allCategories = Array.from(
		new Set(
			allPosts
				.flatMap((post) => post.category)
				.filter((category) => category !== undefined),
		),
	);
	return allCategories.map((category) => ({
		params: { category },
		props: {
			posts: allPosts.filter((post) => post.category === category),
		},
	}));
}

const { category } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout
  title={`カテゴリー: ${categoryText(category)}`}
  description={`カテゴリー: ${categoryText(category)}の記事一覧`}
>
  <div class="w-full max-w-1200px mx-auto px-4 md:px-8">
    <h2>ls -l logs | grep "{categoryText(category)}"</h2>
    <div class="grid grid-cols-minmax-250px gap-x-4 gap-y-8">
      {posts.map((post) => <PostItem post={post} />)}
    </div>
  </div>
</BaseLayout>
