---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const postEntries = await getCollection("posts", ({ data }) => {
	// Only return published posts in production
	return import.meta.env.PROD ? data.draft !== true : true;
});
---

<BaseLayout>
  <ul>
    {
      postEntries.map((post) => (
        <li>
          <a href={`posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
