---
import MonologueComponent from "../components/solid/Monologue";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Monologue"
  description="eyemono.moeのひとりごと"
>
  <div class="w-full max-w-600px mx-auto px-4 md:px-8 space-y-4">
    <span>
      <h2 class="inline">monologue</h2>
      <span>
        on
        <a
          href="https://njump.me/npub1m0n0eyetgrflxghneeckkv95ukrn0fdpzyysscy4vha3gm64739qxn23sk"
          target="_blank"
          rel="noopener noreferrer"
        >
          Nostr
        </a>
      </span>
    </span>
    <div>
      <MonologueComponent client:only />
    </div>
  </div>
</BaseLayout>
