---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-1200px mx-auto px-4 md:px-8">
    <h2>アクセス解析ツールの利用について</h2>
    <p>
      本サイトでは、サービス改善を目的とし、第三者が提供するアクセス解析ツールを利用しています。
      アクセス解析ツールでは、閲覧したページの情報や端末情報が第三者に送信され、分析されます。これらのデータは匿名で収集されており、個人を特定するものではありません。
    </p>
    <p>
      本サイトで利用しているアクセス解析ツールの提供事業者名、収集する情報、利用目的、プライバシーポリシー・オプトアウト方法は、以下をご覧ください。
    </p>
    <ul>
      <li>
        Google Analytics
        <ul>
          <li>提供事業者名: Google</li>
          <li>
            利用規約: <a href="https://www.google.com/analytics/terms/jp.html"
              >https://www.google.com/analytics/terms/jp.html</a
            >
          </li>
          <li>
            プライバシーポリシー: <a href="https://policies.google.com/privacy"
              >https://policies.google.com/privacy</a
            >
          </li>
          <li>
            オプトアウト方法: <a href="https://tools.google.com/dlpage/gaoptout"
              >https://tools.google.com/dlpage/gaoptout</a
            >
          </li>
          <li>
            収集する情報: ユーザーID, Cookie, 端末情報, サイト上での行動履歴
          </li>
          <li>利用目的: ユーザーの行動分析のため</li>
        </ul>
      </li>
    </ul>
  </div>
</BaseLayout>
