<footer class="b-t-1 bg-primary px-4 pt-8 pb-4 mt-8">
  <div class="flex flex-wrap items-center gap-4 not-prose max-w-1200px mx-auto">
    <span>
      © {new Date().getFullYear()} - Copyright eyemono.moe, All Rights Reserved.
    </span>
    <div class="ml-auto flex gap-4">
      <a
        href="https://github.com/eyemono-moe/log"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="h-1lh w-auto aspect-square i-mdi:github"></div>
      </a>
      <a
        href="https://x.com/eyemono_moe"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="h-1lh w-auto aspect-square i-mdi:twitter"></div>
      </a>
    </div>
  </div>
</footer>
