<header
  class="flex items-center justify-between max-w-1200px mx-auto p-4 not-prose sticky top-0 bg-primary b-b-1"
>
  <a href="/">
    <h1>eyemono.log</h1>
  </a>
  <nav class="flex items-center gap-4">
    <a href="/">Posts</a>
    <a
      href="https://github.com/eyemono-moe/log"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="h-1lh w-auto aspect-square i-mdi:github"></div>
    </a>
    <a
      href="https://x.com/eyemono_moe"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="h-1lh w-auto aspect-square i-mdi:twitter"></div>
    </a>
  </nav>
</header>
