<header class="not-prose sticky top-0 bg-primary py-2">
  <div
    class="flex items-center justify-between max-w-1200px mx-auto px-4 md:px-8"
  >
    <a href="/">
      <h1>eyemono.log</h1>
    </a>
    <!-- <nav class="flex items-center gap-4">
      <a href="/">Posts</a>
    </nav> -->
  </div>
</header>
