<div class="p-2 max-h-full overflow-y-auto space-y-2">
  <button
    class="text-left inline-flex items-center gap-1 btn w-full p-2"
    id="scroll-to-top"
  >
    <div
      class="h-1lh w-auto aspect-square i-material-symbols:arrow-upward-alt-rounded"
    >
    </div>
    ページトップへ
  </button>
  <div>目次</div>
  <div class="toc ml-2"></div>
</div>

<script is:inline>
  const scrollToTop = () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  };

  document
    .getElementById("scroll-to-top")
    ?.addEventListener("click", scrollToTop);
</script>

<script>
  import * as tocbot from "tocbot";

  const headerHeight = document.querySelector("header")?.offsetHeight || 0;

  tocbot.default.init({
    tocSelector: ".toc",
    contentSelector: ".post",
    activeLinkClass: "toc-link-active",
    orderedList: false,
    linkClass: "toc-link",
    isCollapsedClass: "toc-is-collapsed",
    collapseDepth: 3, // Collapse if depth is greater than h4
    headingSelector: "h2, h3, h4",
    headingsOffset: headerHeight,
    scrollSmoothOffset: -headerHeight,
  });
</script>
