---
import type { MarkdownHeading } from "astro";

type Props = {
	headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<div class="p-2 max-h-full overflow-y-auto space-y-2">
  <div>目次</div>
  <button
    class="text-left appearance-none inline-flex items-center gap-1"
    id="scroll-to-top"
  >
    <div
      class="h-1lh w-auto aspect-square i-material-symbols:arrow-upward-alt-rounded"
    >
    </div>
    ページトップへ
  </button>
  <ul class="ml-2">
    {
      headings
        .filter((heading) => 1 < heading.depth && heading.depth < 5)
        .map((heading) => (
          <li
            class:list={[
              {
                "ml-4": heading.depth === 3,
                "ml-8": heading.depth === 4,
              },
            ]}
          >
            <a
              href={`#${heading.slug}`}
              class="line-clamp-3 decoration-none op-70 hover:op-100"
            >
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</div>

<script is:inline>
  const scrollToTop = () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  };

  document
    .getElementById("scroll-to-top")
    ?.addEventListener("click", scrollToTop);
</script>
